.footer {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.footer p:nth-child(1) {
    color: var(--light-dark);
}

.footer p:nth-child(2) {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.footer a:nth-child(1) {
    margin-right: 0.6rem;
}

.footer a:nth-child(2) {
    color: white;
}

.footer svg {
    cursor: pointer;
}

.footer a:nth-child(1) svg {
    width: 2.8rem;
    height: 2.8rem;
    // fill: #03c75a;
    fill: var(--bash-tab-bg);
}

.footer a:nth-child(2) svg {
    width: 2.7rem;
    height: 2.7rem;
    margin-top: -0.2rem;
}