.post-wrapper {
    color: black;
}

.post-wrapper__action {
    margin-top: 0.7rem;
    margin-bottom: 2.3rem;
}

.post-wrapper__action a {
    font-size: 1.3rem;
    cursor: pointer;
    background: var(--bash-status-bg);
    color: var(--dark-tone);
    padding: 0.4rem 0.8rem;
    border-radius: 10px 0 0 10px;
}

.post-wrapper__content {
    margin-bottom: 5rem;
}

.post-wrapper .footer a:nth-child(2) {
    color: var(--bash-tab-bg);;
}