:root {
  --noto-sans: "Noto Sans", sans-serif;
  --noto-sans-kr: "Noto Sans KR", sans-serif;
  --source-sans: "Source Sans Pro", sans-serif;
  --outfit: "Open Sans", sans-serif;

  --light-border: #f2f2f2;
  --border: #ededed;
  --shade: #f0f0f0;
  --text-shade: #b8b8b8;
  --dark: #363636;
  --mid-dark: #949494;
  --light-dark: #b3b3b3;

  --dark-tone: #1a1e26;
  --dark-tone-shade: #5e636e;
  --main-yellow: #d59d2e;
  --main-blue: #0984e3;
  --light-blue: #74b9ff;
  --main-purple: #6c5ce7;
  --light-purple: #a29bfe;
  --hot-pink: #e84393;
  --main-pink: #fd79a8;
  --main-green: #00b894;
  --light-green: #00cec9;
  --lighter-green: #00ede7;
  --main-red: #ff7675;
  --light-red: #ff4645;

  --dark-mode-bg: #1c1d1f;
  --dark-mode-shade: #191c21;
  --dark-mode-card: #3b3a3d;

  --spinner-color: #b3b3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 62.5%;
  font-family: var(--source-sans);
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}